*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root{
    --Light-gray: hsl(0, 0%, 90%);
   --Very-light-gray: hsl(0, 0%, 93%);
   --Grayish-red: hsl(0, 5%, 81%);
   
--Dark-moderate-cyan: hsl(185, 42%, 37%);
--Very-dark-cyan: hsl(185, 58%, 25%);

--Orange: hsl(25, 98%, 40%);
--Dark-orange: hsl(25, 99%, 27%);

--Light-grayish-yellow: hsl(45, 7%, 89%);
--Dark-grayish-orange: hsl(35, 11%, 61%);
}

main{
    background-color: var(--Light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    
}

.calculator{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* background-color: white; */
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px ;
    align-items: end;

}

header p{
    font-size: 20px;
    font-weight: 700;
}

.label{
 display: flex;
 gap: 16px;
 justify-content: flex-end;

}

.changer{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: hidden;
    /* padding: 5px 0px; */


}

.ball{
    display: flex;
    height: 70%;
    aspect-ratio: 1;
    background-color: var(--Orange);
    border-radius: 50%;
    margin: 0px auto;
}
.ball1{
    display: flex;
    height: 70%;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    margin: 0px auto;
}
.ball3{
    display: flex;
    height: 70%;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    margin: 0px auto;
}

.toggle-button{
    width: 100%;
    height: 60%;
    background-color: var(--Grayish-red);
        border-radius: 60px;
        display: flex;
        align-items: center;

}

.theme{
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;

}

.result
{
    width: 100%;
    height: 100px;
    background-color: var(--Very-light-gray);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
}
::-webkit-scrollbar{
    display: none;
}

.output{
    font-size: 40px;
    font-weight: 700;
    display: flex;
    overflow-x: scroll;
    outline: none;
    padding-right: 30px;
    
}

.buttons{
    display: flex;
    flex-direction: column;
/* justify-content: space-around; */
gap: 20px;
height: 64%;
background-color: var(--Grayish-red);
border-radius: 10px;
padding: 20px 0px;
font-size: 30px;

}
.buttons button{
    cursor: pointer;
}
.row{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 0px 30px;
}

.one button,.two button,.three button, .four button{
    height: 50px; 
    width: 25%;
    border: none;
    border-bottom: 3px solid grey;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-gray);

}

.one button:active,.two button:active,.three button:active, .four button:active{
    background-color: white;
}

.five button{
    flex: 1;
    height: 50px;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid grey;
    /* box-shadow: 0px 10px 0px 3px grey; */
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-gray);
}

.one button:nth-child(4),
.five button:nth-child(1){
    background-color: var(--Dark-moderate-cyan);
    border-bottom: 3px solid var(--Very-dark-cyan);
    color: white;
}
.one button:nth-child(4):active,
.five button:nth-child(1):active{
  background-color: var(--Dark-moderate-cyan);
}

.five button:nth-child(2){
    background-color: var(--Orange);
    border-bottom:3px solid var(--Dark-orange);
    color: white;
}
/* 
button{
    flex: 1;
} */

@media screen and (max-width: 1300px){
    .calculator{
        height: 100%;
        width: 31%;
        padding: 50px 0px 0px 0px;
    }
    .buttons{
        height: 70%;
    }
}
@media screen and (max-width: 800px){
    .calculator{
        height: 100%;
        width: 100%;
        padding: 50px 0px 0px 0px;
    }

    
}